function Arrow.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 5
push argument 5
pop this 6
push constant 4
pop this 4
push pointer 0
return
function Arrow.drawArrowHead 1
push argument 0
pop pointer 0
push constant 3
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
goto IF_END2
label IF_FALSE2
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function Arrow.eraseArrowHead 1
push argument 0
pop pointer 0
push constant 3
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push argument 2
push argument 1
push local 0
sub
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
goto IF_END2
label IF_FALSE2
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
sub
call Screen.drawLine 4
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
add
push argument 2
push local 0
add
call Screen.drawLine 4
pop temp 0
label IF_END2
label IF_END1
label IF_END0
push constant 0
return
function Arrow.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Arrow.draw 0
push argument 0
pop pointer 0
push this 6
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
push this 3
call Screen.drawLine 4
pop temp 0
push pointer 0
push this 2
push this 3
push this 5
call Arrow.drawArrowHead 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Arrow.erase 0
push argument 0
pop pointer 0
push this 6
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
push this 3
call Screen.drawLine 4
pop temp 0
push pointer 0
push this 2
push this 3
push this 5
call Arrow.eraseArrowHead 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Arrow.setVisibility 0
push argument 0
pop pointer 0
push argument 1
pop this 6
push constant 0
return
function Arrow.reset 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push argument 2
pop this 1
push argument 3
pop this 2
push argument 4
pop this 3
push argument 5
pop this 5
push argument 6
pop this 6
push constant 0
return
